.Whole{
    border: 0.3em solid black;
    width: 1425px;
    height: 800px;
    padding-left: 3%;
    background-color: rgb(242, 227, 253);
}
.stick{
    position: sticky;
    top: 0;
}
.Corner{
    padding-right: 1%;
}
h3{
    float: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: bold;
    width: 10em;
    font-size: xx-large;
}
nav{
    border: 2px dotted black;
    border-radius: 8px;
    text-align: center;
    width: 1340px;
    margin: 20px;
    background-color: rgb(250, 207, 211);
}
a:hover{
  
    font-style: italic;
}
a{
    margin: 5em;
    font-size: larger;
}
.container{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.toleft{
    float: left;
    width: 250px;
    height: 550px;
    background-color: peachpuff;
    margin-right: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    color: blue ;
    text-align: center;
    font-family: sans-serif;
}
h1{
    text-align: center;
    color: brown;
    font-family: cursive;
}
div{
    align-items: right;
}
.text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    padding-right: 30px;
}
.footer{
    font-weight: bold;
    text-align: center;
    border-top: 0.17em solid black; 
    margin: 25px;
}